:root {
    --placeholder: url("https://hu-zza.github.io/gallery/data/img/placeholder.svg");
    --triangle:    url("https://hu-zza.github.io/gallery/data/img/triangle.svg");
    --info-icon:   url("https://hu-zza.github.io/gallery/data/img/i.svg");
    --close-icon:  url("https://hu-zza.github.io/gallery/data/img/x.svg");
}


@font-face {
    font-family: "Bodoni Moda";
    src: url("https://hu-zza.github.io/gallery/lib/Google_fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz,wght.ttf");
}


@font-face {
    font-family: "Dosis";
    src: url("https://hu-zza.github.io/gallery/lib/Google_fonts/Dosis/Dosis-VariableFont_wght.ttf");
}


@font-face {
    font-family: "JetBrains Mono";
    src: url("https://hu-zza.github.io/gallery/lib/Google_fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf");
}


body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 5vh;
    overflow-x: hidden;
    background: #333;
}


body.locked {
    overflow-y: hidden;
}


h2.noscript {
    background: silver;
    padding: 15px 20px;
    border-radius: 10px;
}


main {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    background-image: var(--placeholder);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3), 0 20px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}


nav, footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 5vh;
}


nav a {
    position: relative;
    display: block;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.5s;
}


nav a.active:before {
    position: absolute;
    top: -20px;
    left: 45px;
    content: var(--triangle);
    z-index: -1;
}


nav a:hover {
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.5s;
}


nav a.active {
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.6);
}


nav a div {
    width: 100px;
    height: 100px;
    margin: 7px;
    background-image: var(--placeholder);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.disabled {
    opacity: 0;
}


main.disabled {
    animation: opacityPulse 3s infinite;
}


@keyframes opacityPulse {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}


button {
    box-sizing: border-box;
    width: 25vw;
    height: 70vh;
    padding: 2vh;
    background: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}


button svg path {
    fill-rule: evenodd;
    fill: silver;
    stroke: silver;
    stroke-width: 0.2;
    transition: fill 0.5s, stroke 0.5s;
}


button:hover svg path {
    fill: white;
    stroke: black;
    transition: fill 0.5s, stroke 0.5s;
}


button#previous {
    text-align: left;
}


button#fullscreen {
    width: 50vw;
    cursor: zoom-in;
}


button#next {
    text-align: right;
}


div.modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #333;
}


div.modal.hidden {
    display: none;
}


div.modal.fullscreen {
    cursor: zoom-out;
}


div.modal img {
    max-width: 94vw;
    max-height: 94vh;
}


main div.details > *, div.modal.details div > * {
    color: silver;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


div.details h1 {
    font-family: "Bodoni Moda", Palatino, Times, serif;
    font-size: 4vh;
    font-weight: 500;
    font-variation-settings: "opsz" 11, "wght" 500;
}


div.details p, div.modal.details div > p {
    font-family: "Dosis", "Arial Narrow", sans-serif;
    font-size: 3vh;
    font-weight: 300;
    font-variation-settings: "wght" 300;
    line-height: 4vh;
    white-space: inherit;
    text-align: justify;
    text-justify: inter-word;
    text-align-last: left;
}


div.details a {
    position: absolute;
    font-family: "JetBrains Mono", monospace;
    font-size: 2.5vh;
    font-weight: 100;
    font-variation-settings: "wght" 100;
    text-decoration: none;
}


div.details a:hover {
    text-decoration: underline;
}


@media (orientation: landscape) {
    button.details, div.modal.details {
        display: none;
    }

    main div.details {
        position: absolute;
        bottom: -20vh;
        width: 100%;
        height: 30vh;
        padding: 0 2.5vw;
        background-color: rgba(0, 0, 0, 0.7);
        transition: bottom 2s, background-color 2s;
    }

    main div.details:hover {
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.9);
        transition: bottom 2s, background-color 2s;
    }

    main div.details > * {
        max-width: 95vw;
    }

    main div.details h1 {
        margin: 3vh 0 2vh;
    }

    main div.details p {
        max-height: 12vh;
        margin: 0;
    }

    main div.details a {
        bottom: 1vh;
    }
}


@media (orientation: portrait) {
    main div.details {
        display: none;
    }

    button.details {
        z-index: 10;
        position: absolute;
        top: 2vh;
        right: 2vw;
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.7);
        background-image: var(--info-icon);
        background-position: center;
        background-size: cover;
        transition: filter 0.5s, background-color 0.5s;
    }

    button.details:hover {
        background-color: rgba(0, 0, 0, 0.2);
        filter: brightness(200%);
        transition: filter 0.5s, background-color 0.5s;
    }

    button.details.close {
        z-index: 30;
        top: 2vh;
        right: 2vw;
        width: 10vw;
        height: 10vw;
        background-image: var(--close-icon);
    }


    div.modal.details div {
        box-sizing: border-box;
        width: 94vw;
        height: 94vh;
        padding: 4vw;
        background: #333;
    }

    div.modal.details p {
        max-height: 64vh;
    }

    div.modal.details a {
        bottom: 5vh;
        max-width: 86%;
    }
}


footer > * {
    box-sizing: border-box;
    min-width: 70px;
    height: 35px;
    border-radius: 10px;
    margin: 0 10px;
    font-family: "Dosis", "Arial Narrow", sans-serif;
    color: white;
}


footer .madeBy {
    height: auto;
    padding: 10px 15px;
    border: 1px solid gray;
    background: rgba(0, 0, 0, 0.4);
}


footer .madeBy a {
    color: white;
    text-decoration-style: dotted;
}

footer select {
    padding: 0 6px;
    font-size: 20px;
    font-weight: 600;
    background: #333;
}
